<div class="row">
  <div class="span8">
    <% @posts.each do |post| %>
      <div class="post">
        <h3><%= post.title %> by <%= post.author %></h3>
        <p><small>Published <%= time_ago_in_words(post.created_at) %> ago</small></p>
        <p><%= post.content %></p>
      </div>
    <% end %>
  </div>

  <div class="span4">
    <%= link_to "Add post", new_post_path, class: 'btn btn-primary' %>
  </div>
</div>
