<div class="row">
  <div class="span8">
    <% @posts.each do |post| %>
      <div class="post" id="post-<%= post.id %>">
        <h3><%= post.title %> by <%= post.author %></h3>
        <p><small>Published <%= time_ago_in_words(post.created_at) %> ago</small></p>
        <p><%= post.content %></p>

        <h4>Add comment:</h4>
        <%= simple_form_for [post, @comment] do |f| %>
          <%= f.input :author %>
          <%= f.input :text, as: :text, label: "Comment" %>
          <%= f.submit "Add comment" %>
        <% end %>

        <h4>Comments:</h4>
          <% post.comments.each do |comment| %>
            <p><strong><%= comment.author %> said:</strong></p>
            <p><%= comment.text %></p>
          <% end %>
        <p></p>
      </div>
    <% end %>
  </div>

  <div class="span4">
    <%= link_to "Add post", new_post_path, class: 'btn btn-primary' %>
  </div>
</div>
